body{
    margin: 0px;
}

header{
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.our-story-header{
    display: flex;
    justify-content: flex-start;
    margin: 0px 56px;
}

span.logo img{
    
    width: 13%;
    height: 100%;
}

.selection-container{
    margin-right: 1.375rem;
}

select{
    margin-top: 1em;
    line-height: 1.3em;
    white-space: nowrap;
    padding: 8px 22px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #aaa;
    color: white;
    font-size: 0.875rem;
    text-indent: 0;
    border-radius: 2px;
}

a.btn-login{
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 7px 17px;
    background-color: #e50914;
    color: white;
    float: none;
    white-space: nowrap;
    text-decoration: none;
    line-height: normal;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 3px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-size-adjust: none;
    direction: ltr;
}

.our-story-cards{
    z-index: 0;
}

.card-one{
    width: auto;
    height: auto;
}

.card-one-background{
    position: absolute;
    top: 0;
}

img.concord-img{
    width: 100%;
    height: 100%;
    filter:brightness(0.4);
}

.our-story-cards-text{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 2;
    color: white;
    padding: 70px 0px;
}

.our-story-card-title{
    font-size: 3.125rem;
}

.our-story-card-subtitle{
    font-size: 1.625rem;
}

li{
    list-style: none;
}

.simpleform{
    display: inline-block;
}

input.nfTextField{
    width: 450px;
    height: 50px;
    padding: 10px 10px;
    outline: 0 none;
    font-size: 1rem;
    font-weight: normal;
}
.btn-start{
    height: 75px;
    padding: .8em 1em;
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #e50914;
    font-size: 1.625rem;
    color: white;
    border: 0px;
    cursor: pointer;
}

.card-two{
    margin-top: 14%;
    background-color: black;
    padding: 50px 100px 50px 100px;
}

.card-animation-container{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.our-story-card-text{
    color: white;
}

.our-story-card-img{
    z-index: 2;
    width: 45%;
}

.card-animation{
    position: absolute;
    z-index: 1;
    margin-left: 61%;
}

.our-story-card-video{
    width: 83%;
    height: 100%;
}
